<h1>Watched Movies</h1>
<hr />
<% @watched_movies.each do |watched_movie| %>
    <div class="row">
        <div class="col-1 align-self-center">
            <div class="text-center">
                <%= image_tag watched_movie.movie.image, class: "img-thumbnail" %>
            </div>
        </div>
        <div class="col-11 align-self-center">
            <%= link_to "https://www.imdb.com/title/#{watched_movie.imdb}", target: "_blank" do %>
                <%= watched_movie.movie.title %> (<%= watched_movie.movie.year %>)
            <% end %>
            <br />
            <span class="badge badge-warning"><%= watched_movie.movie.score %></span>
            <span class="badge badge-warning"><%= watched_movie.score %></span>
            <br />
            <p><%= watched_movie.movie.summary %></p>
            <p><%= watched_movie.movie.genres.split(',').join(', ') %></p>
            <%= link_to "Edit", watched_movies_edit_path(watched_movie.imdb), class: "btn btn-info" %>
            <%= link_to "Remove", watched_movies_delete_path(watched_movie.imdb), class: "btn btn-danger", method: "delete" %>
        </div>
    </div>
    <hr />
<% end %>
