<h1>Recommended Movies</h1>
<p>Find me in app/views/recommended_movies/index.html.erb</p>
<hr />
<% @recommended_movies.each do |recommended_movie| %>
    <%= recommended_movie['title'] %>
    <br /><br />
    <%= recommended_movie['summary'] %>
    <br /><br />
    <%= recommended_movie['genres'].split(',').join(', ') %>
    <br /><br />
    <%= recommended_movie['score'] %> - <%= recommended_movie['my_score'] %>
    <br /><br />
    <ul>
        <% recommended_movie['movies'].each do |movie| %>
            <li><%= movie['title'] %></li>
        <% end %>
    </ul>
    <hr />
<% end %>
