<h1>Most Popular Movies</h1>
<hr />
<% @most_popular_movies.each do |key, value| %>
    <div class="row">
        <div class="col-1 align-self-center">
            <div class="text-center">
                <%= image_tag value[:image], class: "img-thumbnail" %>
            </div>
        </div>
        <div class="col-11 align-self-center">
            <%= link_to "https://www.imdb.com/title/#{value[:imdb]}", target: "_blank" do %>
                <%= value[:title] %> <%= value[:year] %>
            <% end %>
            <br />
            <span class="badge badge-warning" style="margin-bottom:10px;"><%= value[:score] %></span>
            <br />
            <%= link_to "Add", search_new_path(value[:imdb], title: value[:title]), class: "btn btn-success btn-sm" %>
        </div>
    </div>
    <hr />
<% end %>
