<h1>Most Popular Movies</h1>
<hr />
<% @most_popular_movies.each do |key, value| %>
  <div class="row">
    <div class="col-1 align-self-center">
      <div class="text-center">
        <%= image_tag value[:image], class: "img-thumbnail" %>
      </div>
    </div>
    <div class="col-11 align-self-center">
      <h5><%= value[:title] %> <%= value[:year] %></h5>
      <span class="badge badge-warning" style="margin-bottom:15px;"><%= value[:score] %></span>
      <br />
      <%= link_to "IMDb", "https://www.imdb.com/title/#{value[:imdb]}/", target: "_blank", class: "btn btn-secondary" %>
      <%= link_to "Add", most_popular_movies_new_path(value[:imdb], title: value[:title]), class: "btn btn-success" %>
    </div>
  </div>
  <% unless @most_popular_movies.keys.last == key %>
    <hr />
  <% end %>
<% end %>
