<h1>Add <%= params[:title] %></h1>
<hr />
<%= form_for @watched_movie, url: most_popular_movies_create_path(params[:imdb], title: params[:title]) do |f| %>
    <%= f.hidden_field :imdb %>
    
    <div class="form-group">
        <%= f.label(:score, "Score:") %>
        <%= f.select :score, [1,2,3,4,5,6,7,8,9,10], {}, class: "form-control" %>
    </div>

    <%= f.submit "Add", class: "btn btn-success" %>
<% end %>
